@import "base/variable";
@import "base/responsive";
@import "base/global";
@import "base/font";
@import "base/typography";

//todo: styles in home page
@import "page/home";
@import "page/home/swiperHero";
@import "page/home/heroBanner";
@import "page/home/bannerShop";
@import "page/home/newArrivals";
@import "page/home/header";

//todo: signUp
@import "page/signUp";

//todo: Commonly used styles
@import "components/goShop";
@import "components/button";
@import "components/input";

//todo: style product page
@import "page/product";

