//todo: style swiper single image in hero home page
.singleImg {
  direction: ltr;
  //.swiper-wrapper {
  //  width: 100% !important;
  //
  //}
  &__slide {
    width: 100%;
    @include break(991) {
      height: 400px;
    }
    @include break(580) {
      height: 260px;
    }

    img {
      width: 100%;
      height: 100%;
      @media screen and (max-width: 991px) {
        object-fit: cover;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: $backgroundWhite;
    width: 4%;
    height: 8%;
    border-radius: 999rem;
    padding: 1%;
    @include break(991) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  .swiper-button-next {

    &::after{
      content: url(../../image/icon/arrow-right.svg)!important;
    }
  }

  .swiper-button-disabled path {
    stroke: #6C7275;
  }

  .swiper-button-disabled {
    opacity: 1 !important;
  }

  //todo: style pagination
  .swiper-pagination {
    bottom: 2rem;
    @include break(991) {
      bottom: 1rem;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: $backgroundWhite;
    @include break(991) {
      width: 8px;
      height: 8px;
    }
  }


  .swiper-pagination-bullet-active {
    width: 30px !important;
    background-color: $backgroundWhite;
    border-radius: 99rem;

  }
}
