.banner {
  width: 100%;
  position: relative;
  top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F4F6;
  @include break(480) {
    padding: 3rem 0;
  }

  .back {
    @include break(480) {
      display: none;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    //width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include break(480) {
      position: relative;
    }

    &--title {
      width: 100%;
      text-align: center;

      p {
        font-weight: 500;
      }

      .extraMediumText {
        @include break(768) {
          font-size: 3.125em;
        }
      }
    }

    &--input {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin-top: 8%;
      width: 100%;
      padding-bottom: 2%;


      .email {
        position: relative;
        width: 100%;

        img {
          position: absolute;
          //margin-top: 2%;
          width: 8%;
        }

        input {
          width: 100%;
          border: none;
          background-color: transparent;
          font-size: 1em;
          padding-right: 12%;
          font-family: "pinar";

          &::placeholder {
            display: flex;
            align-items: center;
            color: $secondaryTextColor;
            font-family: "pinar";
          }


        }
      }

      .singUp {
        width: 14%;
        color: $secondaryTextColor;
      }
    }
  }
}

.Newsletter {
  .banner__content--input {
    border-bottom: 1px solid $secondaryTextColor;
  }
}

.bannerImg {
  background-color: transparent;
  padding: 0;
  @include break(768) {
  height: 35vh;
  }

  .back {
    @include break(768) {
      display: flex;
      height: 100%;
    }
  }

  .banner__content {
    position: absolute;
  }

}