btnContainer {
  font-size: 0.8em;
}

.btn {
  font-family: "pinar";
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discountNew {
  direction: ltr;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 5%;
  padding-top: 5%;
  z-index: 100;

  & > * {
    border: none;
    border-radius: 4px;
    font-family: "Pinar";
  }

}

.btnNew,
.btnDiscount {
  width: 5rem;
  height: 2rem;
  font-size: 1.125em;
  @include break(991) {
    width: 3rem;
    height: 1.5rem;
  }
}

.btnNew {
  color: black;
  background-color: white;
}

.btnDiscount {
  color: #FEFEFE;
  background-color: $btnAcceptable;
}

.btnAddToCard {
  width: 90%;
  height: 2.875rem;
  position: absolute;
  right: 5%;
  bottom: 5%;
  left: 0;
}

.btnBlack {
  background-color: $mainTextColor;
  color: #FEFEFE;
}

.btnSingUp {
  width: 100%;
  height: 48px;
}



