.filter {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__head {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      //width: 16%;
    }
  }

  &__categories {
    &--title {
      margin-bottom: 1rem;
    }

    &--item {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__price {
    &--item {
      display: flex;
      flex-direction: column;
     gap: 12px;
    }
  }
}
