.filter {
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 32px;
    img {
      //width: 16%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    row-gap: 32px;

    &--categories {
      .title {
        margin-bottom: 1rem;
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }

    &--price {
      .item {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  }
}
