//todo: goshop
.goShop {
  transition: transform 0.3s ease;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 3px;

    img {
      width: 20%;
      filter: brightness(0) saturate(100%) invert(49%) sepia(44%) saturate(7179%) hue-rotate(209deg) brightness(104%) contrast(100%);
    }
  }


  span {
    color: $offTextColor;
    display: flex;
  }
}

.borderButton {
  width: fit-content;
  border-bottom: 1px solid $offTextColor;
}

.black {
  border-bottom: 1px solid $mainTextColor;

  span {
    color: $mainTextColor;
    font-weight: 600;
  }

  a {
    img {
      filter: brightness(0) saturate(100%) invert(7%) sepia(1%) saturate(3678%) hue-rotate(144deg) brightness(100%) contrast(96%);
    }
  }
}