//text color
$mainTextColor:#141718;
$secondaryTextColor:#6C7275;
$ThirdTextColor:#FEFEFE;
$FourthTextColor:#E8ECEF;
$offTextColor:#377DFF;

 //background color
$backgroundWhite:#FEFEFE;
$backgroundBlack:#141718;
$backgroundItem:#F3F5F7;
