.product {
  display: grid;
  grid-template-columns: 60% 40%;
  @include break(480) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__img {
    width: 100%;

    &--swiperImg {
      position: relative;

      .swiperSingleImg {
        img {
          padding-bottom: 1rem;
        }
      }
    }

    &--smallImg {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item {
        width: 30%;

        & > img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
    }

    .swiperThumbs {
      &__Thumbs {
        width: 100%;
        &--slide {
          height: auto;

          img {
            width: 100%;
            height: 100%;
          }
        }
        padding-bottom: 1rem;
      }

      &__thumbnails {
        width: 100%;
        .swiper-wrapper{
          justify-content: space-between;
        }
        &--slide {
          width: 30%!important;
          margin-left: 0!important;

          .item {
            width: 100%;
            height: 100%;
            object-fit: fill;

          }
        }
      }
    }
  }

  &__details {
    padding-left: 10%;


  }
}