.product {
  display: grid;
  grid-template-columns: 50% 45%;
  gap: 5%;

  @include break(991) {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 100%;

    &--swiperImg {
      position: relative;

      .swiperSingleImg {
        img {
          padding-bottom: 1rem;
        }
      }
    }


    .swiperThumbs {
      &__Thumbs {
        width: 100%;
        margin-bottom: 2rem;
        &--slide {
          height: auto;


          img {
            width: 100%;
            height: 100%;
          }
        }

      }

      &__thumbnails {
        width: 100%;

        .swiper-wrapper {
          justify-content: space-between;

        }

        &--slide {
          width: 31% !important;
          margin-left: 0 !important;

          .item {
            width: 100%;
            height: 100%;
            object-fit: fill;

          }
        }
      }
    }
  }

  &__details {

    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    gap: 24px;
    &--price{
      display: flex;
      gap: 1rem;
    }
    &--offer {

      //.countdownTimer {
      //}
    }

    &--WishlistContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .wishlist {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        .counter {
          width: 20%;
        }

        .btnContainer {
          width: 80%;
          height: 52px;

          .btn {
            width: 100%;
            height: 100%;
            flex-direction: row-reverse;
            gap: 8px;
          }
        }
      }

      .btnContainer {
        width: 100%;

        .btnAddToCard {
          position: relative;
          right: 0;
          width: 100%;

        }

      }

    }

    &--productSize {
      display: flex;
      flex-direction: column;

      span {
        display: inline-block;
      }

      margin: 24px 0;
    }

    &--productColor {

      .thumbnails {
        margin-top: 16px;
      }
    }
  }
}