.signUpContainer {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;

  .signUp {
    width: 95%;
    height: 90%;
    margin: 0 auto;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(2255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: 55% 45%;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 10%;
      padding-left: 5%;

      &--title {
        width: 456px;
      }

      &--containerInputs {
        .inputBox {
          &__input {
            padding-right: 0;
          }
        }
      }

      &--agreement {
        .agree {
          width: 456px;
          display: flex;
          align-items: center;
          gap: 12px;
          margin: 12px 0;
        }
      }
    }

    &__img {
      width: fit-content;
      height: 100%;
      position: relative;

      &--banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &--logo {
        position: absolute;
        top: 32px;
        width: 100%;
        text-align: center;
        left: 0;
        right: 0;
      }
    }
  }

}

