//todo:header
.header {
  max-width: 100%;

  &__desk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3.75rem;
    margin-bottom: 0.5rem;
    @include break(768) {
      display: none !important;
    }

    &--logo {
      a{
        display: flex;
      }
    }

    &--listMenu {
      .menu {
        & > :first-child {
          //background: red;
          a {
            color: $mainTextColor;
          }
        }

        li a {
          color: $secondaryTextColor;

          &:hover {
            color: $mainTextColor;
          }
        }
      }
    }

    &--toolbar {
      display: flex;
      justify-content: center;
      //align-items: center;
      align-items: flex-start;
      gap: 1rem;
      cursor: pointer;

      & > div {
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
          width: 100%;
        }
      }

      .purchaseNum {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        padding: 12px;
        background-color: $mainTextColor;
        color: $ThirdTextColor;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }

  }


  //When the screen size is 768px
  &__mobile {
    display: none;
    height: 60px;
    @include break(768) {
      display: flex;
      justify-content: space-between;

    }


    &--logo {
      display: flex;
      gap: 4px;
      align-items: center;


      .hamburgerIcon {
        width: 32px;
      }

      img {
        width: 70px;
      }
    }

    &--purchase {
      display: flex;
      align-items: center;
      gap: 5px;

      .purchaseNum {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 100%;
        padding: 12px;
        background-color: $mainTextColor;
        color: $ThirdTextColor;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .hamburgerMenu {
    //width: 100%;
    width: 375px;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 1.5rem 2rem 0 2rem;
    display: none;
    background-color: $backgroundWhite;
    transition: transform 0.3s ease;
    animation-duration: 0.5s;
    @include break(360) {
      width: 100%;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 770px;
      background-color: rgba(0, 0, 0, 0.496);
      z-index: -100;
      height: 100%;
      left: 0;
      top: 0;
      right: 100%;
      @include break(360) {
        display: none;
      }
    }

    &__head {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

    }

    &__input {
      width: 100%;
      position: relative;
      margin-bottom: 1rem;

      img {
        position: absolute;
        top: 10px;
        left: 14px;
      }

      input {
        width: 100%;
        height: 46px;
        padding: 1rem 1rem 1rem 2.5rem;
        //border: none;
        border-radius: 6px;
        font-size: 14px;
        border: 1px solid $secondaryTextColor;
      }
    }

    &__list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      nav {
        width: 100%;

        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          li {
            width: 100%;
            padding-bottom: 1rem;
            border-bottom: 1px solid #E8ECEF;

            a {
              color: $mainTextColor;
            }
          }
        }
      }


    }
  }
}


//.anime {
//  //animation: slide-in 0.6s ease-in-out;
//  transform: translateX(-100%);
//
//  //@keyframes slide-in {
//  //  0% {
//  //    transform: translateX(-100%);
//  //  }
//  //  100% {
//  //    transform: translateX(0);
//  //  }
//  //}
//}




