.newArrivals {
  margin-top: 5%;
  @include break(768) {
    margin-top: 10%;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 2rem;
    overflow-x: scroll;
    overscroll-behavior-x: inherit;
    margin-right: 8%;
    padding-bottom: 3rem;
    padding-left: 8%;

    @include break(1440) {
      gap: 1.5rem;
    }

    @include break(768) {
      margin-left: 2rem;
    }

    &::-webkit-scrollbar {
      width: 1px;
      height: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      border-radius: 1.25rem;
      background: rgb(238, 238, 238);
    }

    &::-webkit-scrollbar-thumb {
      background: #343839;
      border-radius: 1.25rem;
    }


    &--cart {
      .imgCartContainer {
        position: relative;

        .imgCart {
          width: 100%;
          //@include break(1440) {
          //  width: 262px;
          //}
          //@include break(360) {
          //  width: 231px;
          //}
        }

      }


      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
        width: 100%;

        span {
          //font-size: 1.2em;
          font-weight: 600;
          color: $mainTextColor;
        }

        &__rating {
          display: flex;
          gap: 0.2rem;
          margin-top: 0.75rem;
          margin-bottom: 4px;
        }

        &__price {
          span {
            font-weight: 700;
          }
        }
      }
    }

  }


}