
.wrapperCard {
  &:hover {
    filter: drop-shadow(0 1px 13px rgba(0, 0, 0, .2));
    .btnAddToCard {
      display: block;

    }
  }

  &__imgContainer {
    position: relative;


    .btnAddToCard {
      display: none;
    }

    &--imgCard {
      width: 100%;
      height: 100%;
    }
  }


  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //font-size: 1.2em;
    width: 100%;



    span {
      font-weight: 600;
      color: $mainTextColor;
    }

    &--rating {
      display: flex;
      gap: 0.2rem;
      margin-top: 0.75rem;
      margin-bottom: 4px;
    }

    &--price {
      span {
        font-weight: 700;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 1px;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 1.25rem;
    background: rgb(238, 238, 238);
  }

  &::-webkit-scrollbar-thumb {
    background: #343839;
    border-radius: 1.25rem;
  }
}
